
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #c6d0d4;
    color: #111;
    
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto; 
}

.layar-penuh {
    display: flex;
    min-height: 100vh;
    width: 100%;
}



.kolom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.kolom-identitas {
    flex: 1.2;
    background-color: #c1e6f7;
}

.kolom-pengalaman {
    flex: 1.2;
}

.kolom-foto {
    flex: 1.5;
    padding: 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.kolom-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.kolom-projek {
    flex: 1.2;
}


.nama-utama {
    font-size: 5rem;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -4px;
    margin-bottom: 10px;
}

.tagline {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 1rem;
    color: #666;
    margin-bottom: 40px;
}

.bio-singkat p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.baris-data {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.baris-data span {
    color: #706a6a;
    display: inline-block;
    width: 80px;
}

.label-kategori {
    font-size: 2.0rem;
    letter-spacing: 2px;
    font-weight: 900;
    color: #636269;
    margin-bottom: 25px;
    border-bottom: 1px solid #aaa0a0;
    padding-bottom: 5px;
    width: fit-content;
}

.pengalaman {
    margin-bottom: 25px;
}

.pengalaman strong {
    font-size: 0.85rem;
    display: block;
    margin-bottom: 5px;
}

.pengalaman p {
    font-size: 0.85rem;
    color: #0e0d0d;
    line-height: 1.4;
}

.deretan-skill {
    font-size: 0.85rem;
    font-weight: 900;
    line-height: 1.8;
    color: #111;
}

/* RESPONSIVE */
@media (max-width: 1100px) {

    .layar-penuh {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .kolom {
        width: 100%;
        height: auto;
        padding: 25px;
    }

    .kolom-foto {
        order: -1;
        width: 100%;
        height: 400px;
    }

    .kolom-foto img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .nama-utama {
        font-size: 3rem;
    }


    .label-kategori {
        font-size: 1.5rem;
    }
}


@media (max-width: 600px) {

    .nama-utama {
        font-size: 2.2rem;
    }

    .kolom {
        padding: 20px;
    }

}