{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTS Portofolio - Aisha Galuh Saktiawan</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>

    <main class="layar-penuh">
        <section class="kolom kolom-identitas">
            <a href="#halaman2" class="tombol-next">
            
        </a>
            <div class="konten">
                <h1 class="nama-utama">AISHA GALUH SAKTIAWAN</h1>
                <p class="tagline">DATA SCIENCE</p>
                <div class="bio-singkat">
                    <p> Berproses tanpa banyak suara, bertumbuh tanpa perlu terburu-buru.
                        Fokus pada tujuan, dan percaya bahwa setiap langkah kecil tetap berarti.
                    </p>
                </div>
                <div class="data-diri">
                    <div class="baris-data"><span>Tempat, Tanggal lahir</span> Boyolali, 05 Mei 2006</div>
                    <div class="baris-data"><span>Domisili</span> Salatiga</div>
                    <div class="baris-data"><span>Gender</span> Perempuan</div>
                    <div class="baris-data"><span>Kampus</span> UIN Salatiga</div>
                    <div class="baris-data"><span>Hobi</span> Travelling</div>
                    <div class="baris-data"><span>Email</span> aishagaluhsaktiawan@gmail.com</div>
                    <div class="baris-data"><span>Instagram</span> aishhh.aa05</div>
                
                </div>
            </div>
        </section>

        <section class="kolom kolom-foto">
    <img src="{% static 'image/fotoku_nih.jpeg'%}" alt="Aisha Portrait">
</section>


<section class="kolom kolom-pengalaman">
    <div class="konten">
        <h2 class="label-kategori">PENGALAMAN ORGANISASI</h2>

        <div class="list-pengalaman">
            <div class="pengalaman">
                <strong>YABISMILLAH UIN SALATIGA</strong>
                <p>Sebagai Staf Muda Dept.Kewirausahaan</p>
            </div>

            <div class="pengalaman">
                <strong>HMPS SAINS DATA TAHUN 2025</strong>
                <p>Sebagai Divisi Riset dan Keilmuan.</p>
            </div>

            <div class="pengalaman">
                <strong>PMR WIRA ADIBRATA TAHUN 2023</strong>
                <p>Sebagai Ketua Umum.</p>
            </div>
        </div>

        <h2 class="label-kategori" style="margin-top:40px;">SKILL</h2>

        <p class="deretan-skill">
            PUBLIK SPEAKING / MANAJEMEN WAKTU / WRITING / SINGING
        </p>

    </div>
</section>
    </main>
    </main>

<section class="halaman-dua">

    <div class="judul-halaman">
        <h1>PORTFOLIO & PENDIDIKAN</h1>
        <p>Project yang saya pelajari.</p>
    </div>

    <div class="grid-portfolio">

        <div class="card">
            <h2>🎓 Pendidikan</h2>
            <p>TK KARTIKA JAYA X SEMARANG TAHUN 2011 - 2012.</P>
            <P>SDN 1 MANYARAN TAHUN 2012 - 2018.</P>
            <P>SMPN 02 KARANGGEDE TAHUN 2018 - 2021.</P>
            <P>SMAN 01 KLEGO TAHUN 2021 - 2024.</P>
        </div>

        <div class="card">
            <h2>💻 Project</h2>
            <P>BELAJAR PENGEMBANGAN APK WEB MENGGUNAKAN DJANGO.</P>
        </div>

        <div class="card">
            <h2>📜 Sertifikat</h2>
            ...
        </div>

    </div>

</section>